POSTGRES_DB=news_hunter
POSTGRES_USER=newshunter
POSTGRES_PASSWORD=your_password_here

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=news_hunter
DATABASE_USER=newshunter
DATABASE_PASSWORD=your_password_here